( 
    dimensions: Some((1900, 1000)), 
    max_dimensions: None, 
    min_dimensions: None, 
    fullscreen: false, 
    multisampling: 1, 
    title: "PipeAway", 
    visibility: true, 
    vsync: true, 
)